---
title: elouise
img: /assets/images/releases/elouise.png
color: "#4d4d4d"
date: 1/20/2024
tags: single
producers: oddhorse
release_link: https://too.fm/oddhorse-elouise
apple_link: https://music.apple.com/us/album/elouise/1761477001?i=1761477002
spotify_link: https://open.spotify.com/track/4ViODxR2oo84vZuLjtj3lk
---

{% include "release-card.njk" %}