---
title: RETROPROSPECTIVE vol.1
img: /assets/images/releases/RPv1.jpg
color: "#a53fff"
date: 2/1/2021
tags: album
release_link: https://too.fm/oddhorse-rps1
apple_link: https://music.apple.com/us/album/retroprospective-vol-1/1762731121
spotify_link: https://open.spotify.com/album/3xO8FOAUnjfuAc9H3FLqWI
---

{% include "release-card.njk" %}