---
title: So far from home
img: /assets/images/releases/Sffh.jpg
color: "#d74150"
date: 6/18/2023
tags: album
release_link: https://too.fm/oddhorse-sffh
apple_link: https://music.apple.com/us/album/so-far-from-home/1762731464
spotify_link: https://open.spotify.com/album/6mwD3AEt8xmK7lLR4mv72R
---

{% include "release-card.njk" %}