---
title: wake up !
img: /assets/images/releases/wake-up.jpg
color: "#f800fa"
date: 1/9/2019
tags: single
producers: oddhorse
release_link: https://too.fm/oddhorse-wake
apple_link: https://music.apple.com/us/album/wake-up/1761475700?i=1761475720
spotify_link: https://open.spotify.com/track/2b2MSbkXQ6CN1kM5u5QbYd
---

{% include "release-card.njk" %}