.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    --logo-color: var(--page-color);
    --logo-size: 1rem;

    color: var(--logo-color);
    transition: color var(--link-hover-transition-speed);

    .text-logo {
        margin: 0;
        font-weight: normal;
        letter-spacing: -0.08em;
        font-size: var(--logo-size);
    }

    .oddhorse-logo {
        width: var(--logo-size);
        height: auto;
        border-radius: 2px;
    }

    &:hover {
        color: var(--link-hover-color);
    }
}