#mc_embed_shell {

    max-width: fit-content;
    margin: auto;
    text-align: left;


    .mc_embed_text {
        color: var(--text-color);
        margin-left: 1em;
        font-size: 1rem;
    }

    input.email {
        rotate: 3deg;
        border: 1.5px solid var(--lighter-text-color);
        border-radius: 2px;
    }

    label,
    input.email,
    input.button {
        font-size: 1rem;
    }

    .formkit-alert-success {
        color: #88e200;
    }

    input.button {
        margin-left: 2em;
    }
}