@use "sass:color";

footer {
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    display: flex;
    padding-top: 2rem;

    p {
        margin: 0.25rem;

        color: var(--footer-text-color);
        letter-spacing: -0.03rem;
        font-size: 0.75rem;

    }

    a {
        color: inherit;
        text-decoration-color: var(--footer-text-color);
    }
}