@use "sass:color";
@use '../2-globals/variables' as *;

footer {
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    display: flex;

    p {
        margin: 0.25rem;

        color: var(--footerTextColor);
        letter-spacing: -0.03rem;

    }

    a {
        color: inherit;
        text-decoration-color: var(--footerTextColor);
    }
}