.lyrics {
    display: block;

    p {
        display: flex;
        flex-direction: column;
    }
}

.release-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;

    .info-box {
        height: fit-content;
    }

    .release-img {
        height: auto;
        width: 40vw;
    }
}

#release-popup {
    display: none; // changes to block
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#release-link-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80vh;
    border: none;
    /* Optional: remove border */
    scrollbar-width: none;
    border-radius: 10px;



    .page-background * {
        display: none;
    }
}