.lyrics {
    display: block;

    p {
        display: flex;
        flex-direction: column;
    }
}

.release-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;

    .info-box {
        height: fit-content;
    }

    .release-img {
        height: auto;
        width: 40vw;
    }
}

#release-link-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    /* Optional: remove border */

    .page-background * {
        display: none;
    }
}