@use '../2-globals/variables' as *;

.navbar {

    letter-spacing: -0.065rem;

    a {
        color: var(--text-color);
        transition: color 0.1s;
        font-weight: bold;
        font-size: 2rem;
        text-decoration: none;

        flex-grow: 0;
        flex-shrink: 0;
    }

    .blog.navlink {

        &:hover,
        &.active {
            color: $page-blog-color;
        }
    }

    .music.navlink {

        &:hover,
        &.active {
            color: $page-music-color;
        }
    }

    .projects.navlink {

        &:hover,
        &.active {
            color: $page-projects-color;
        }
    }

    .plugins.navlink {

        &:hover,
        &.active {
            color: $page-plugins-color;
        }
    }

    .goodies.navlink {

        &:hover,
        &.active {
            color: $page-goodies-color;
        }
    }

    .videos.navlink {

        &:hover,
        &.active {
            color: $page-videos-color;
        }
    }

    .about.navlink {

        &:hover,
        &.active {
            color: $page-about-color;
        }
    }
}