@use '../2-globals/variables' as *;

.navbar {

    display: flex;
    letter-spacing: -0.08rem;

    .navlink {
        color: var(--text-color);
        transition: color var(--link-hover-transition-speed);
        text-decoration: none;

        flex-grow: 0;
        flex-shrink: 0;

        transition:
            transform var(--link-hover-transition-speed),
            color var(--link-hover-transition-speed);

        &:hover,
        &[aria-current="page"] {
            color: var(--navbar-link-color);
            transform: scale(1.1);
        }

        &:hover[aria-current="page"] {
            color: var(--link-hover-color);
        }
    }
}