<footer>
    <p>
        <i>copyright {% year %} oddhorse •
            <a href="https://github.com/oddhorse/odd.horse/tree/{{ gitInfo.branch }}" target="_blank" {% if gitInfo.branch == 'beta' %}style="color: red"{% endif %}>github {% if gitInfo.branch == 'beta' %}beta preview{% endif %}
            </a> • <a href="https://github.com/oddhorse/odd.horse/commit/{{ gitInfo.commit }}" target="_blank" {% if gitInfo.branch == 'beta' %}style="color: red"{% endif %}>{{ gitInfo.shortcommit }}</a>
        </i>
    </p>
</footer>