<div class="logo-container">
	<a {% if page.url != "/" %}href="/"{% endif %} class="logo-link">
		<h1 class="text-logo" data-text="oddhorse"></h1>
		<span class="header-logo-piece letter-icon hoverwink">{% include "icons/OH-thick.svg" %}</span>

	</a>
	<h2 id="tagline" data-taglines="{{ taglines | dump }}" style="opacity: 0;" class="hoverwink">is him!</h2>
</div>
<script type="module" src="/assets/js/header-logo.js"></script>