<header>
    <a href="/" class="text-logo">
        <h1>
            oddhorse
        </h1>
    </a>
    {% include "navbar.njk" %}
    <script src="/assets/js/navbar.js" defer="defer"></script>
</header>