<header>
    <h1>
        <a href="/">oddhorse</a>
    </h1>
    <nav>
        <a href="/blog/">blog</a>
        <a href="/music/">music</a>
        <a href="/projects/">other projects</a>
        <a href="/plugins/">plugins</a>
        <a href="/goodies/">goodies</a>
        <a href="/videos/">videos</a>
        <a href="/about/">about</a>
    </nav>
</header>