{% css %}
#mc_embed_shell {

    max-width: fit-content;
    margin: auto;
    text-align: left;


    .mc_embed_text {
        color: var(--text-color);
        margin-left: 1em;
        font-size: 1rem;
    }

    input.email {
        rotate: 3deg;
        border: 1.5px solid var(--lighter-text-color);
        border-radius: 2px;
    }

    label,
    input.email,
    input.button {
        font-size: 1rem;
    }

    .formkit-alert-success {
        color: #88e200;
    }

    input.button {
        margin-left: 2em;
    }
}


{% endcss %}

<!--   mailchimp   -->
<div id="mc_embed_shell">
    <p class="mc_embed_text">little treats in your inbox ?</p>
    <div id="mc_embed_signup">
        <form
					action="https://horse.us21.list-manage.com/subscribe/post?u=34137859488aba260b7390475&amp;id=98fc3a745c&amp;f_id=001ce7e6f0"
					class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form"
					novalidate="" target="_self">
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                    <label for="mce-EMAIL">email </label><input class="required email"
								id="mce-EMAIL" name="EMAIL" required="" type="email" value=""></div>
                <div hidden=""><input name="tags" type="hidden" value="2963767"></div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
							&nbsp; &nbsp; &nbsp; &nbsp; /* real people should not fill this in and expect good things -
							do not remove this or risk form bot signups */
							&nbsp; &nbsp; &nbsp;
                            <input type="text" name="b_34137859488aba260b7390475_98fc3a745c" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit"
									value="subscribe">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--   mailchimp end   -->