<nav class="navbar">
    {%- for ipage, details in pages %}
        <a href="/{{ ipage }}/" title="{{ ipage }}" class="{{ ipage }} navlink {% if title == ipage or parent == ipage %}active{% endif %}">
            {{ ipage }}
        </a>
    {%- endfor %}
</nav>