<nav class="navbar">
	<a href="/links/"
		 class="navlink floating"
		 {% if page.url == "/links/" %}aria-current="page"{% endif %}
		 style="--navbar-link-color: #1db954;">
		links
	</a>
	{# <a href="/shop/"
		 class="navlink floating"
		 {% if page.url == "/shop/" %}aria-current="page"{% endif %}
		 style="--navbar-link-color: #ff00bb;">
		shop
	</a> #}
	<a href="/contact/"
		 class="navlink floating"
		 {% if page.url == "/contact/" %}aria-current="page"{% endif %}
		 style="--navbar-link-color: #d76aff;">
		contact
	</a>
</nav>