<div class="release-card">
    <div class="info-box">
        <h2>{{ title }}</h2>

        <p>release date:
        {{ date }}</p>
        {# if >1 producer say producers #}
        {% if not producers %}
            {% set producers = "oddhorse" %}
        {% endif %}
        {% if producers is not string %}
            <p>producers:
            {% for name in producers %}
                    {{ name }}
                    {# add comma (>2) or & (2) between names #}
                    {% if not loop.last %}
                        {% if producers.length > 2 %},
                    {% else %}
                        &
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
        {% elif producers is string %}
            <p>producer:
            {{ producers }}</p>
        {% endif %}
        <div class="links">
            <a href="{{ apple_link }}" class="btn btn-primary">apple music</a>
            <a href="{{ spotify_link }}" class="btn btn-primary">spotify</a>
            <a href="{{ release_link }}" class="btn btn-primary">other platforms</a>
        </div>
    </div>
    <img src="{{ img }}" alt="{{ title }} cover" class="img-fluid release-img">
</div>