---
title: ableton live lufs meter
tags: ["tech", "plugin"]
img: /assets/images/projects/lufs/cover.png
date: 11/24/2024
pretty_date: 2025, unreleased
---

{% include "project-card.njk" %}
<p>THE ONLY LUFS METERS I HAVE ARE PLUGINS. WHAT IF I WANTED TO READ LUFS RIGHT FROM THE DEVICE BAR?</p>
<p>this was my first big project in max for live. as it turns out, it was not that easy. no not because of max!!! implementing the LUFS specification is really quite a process</p>
<p>essentially there are two places on the internet where the algorithm for calculating LUFS is described. one of them is the AES specification for LUFS itself, which is written in overly complex summation/big E notation. the other is a layman's description that is easy to read, but it's not even fully correct!</p>

<h2>luckily i journaled everything about the process</h2>