---
title: music
color: "#31ddff"
tags: main
---

<link rel="stylesheet" href="/assets/css/pages/projects.scss">
{#<h1 class="main-title">music</h1>#}
<div class="projects-grid">
    {% for item in collections.releases | reverse %}
        <div class="project-item">
            <a href="{{ item.url }}" class="project-link" style="--link-color: {{ item.data.color }};">
                <img src="{{ item.data.img }}" alt="{{ item.data.title }} album cover" sizes="(max-width: 47.9375em) 75vw, 50vw" class="project-pic"><br/>
                <span class="project-text">{{ item.data.title }}</span>
            </a>
        </div>
    {% endfor %}
</div>