// for specific reoccuring custom elements

.oddhorse-inline {
    display: inline-block;
    font-size: 1.4rem;
    transform: scaleX(70%) scaleY(140%) translateY(-4%);
    margin: 0 -0.8rem;
    text-decoration: inherit;
    text-decoration-style: wavy;
    color: var(--oddhorse-color);
    font-style: italic;
}

.yt-video {
    border-radius: 4px;
    overflow: hidden;

    margin: 1.5rem;
}

.img-fluid {
    width: 35rem;
}

.main-title {
    //display: inline-block;
    //font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    transform: scaleX(300%) scaleY(70%);
    margin: 0 -0.8rem;
    text-decoration: inherit;
    text-decoration-style: wavy;
    color: var(--oddhorse-color);
    //font-style: italic;
}

// bounce in sort of effect for on hover

.hoverwink {
    transition:
        transform var(--hoverwink-transition-speed);

    transition-timing-function: var(--hoverwink-transition-timing-function);


    &:hover {
        transform: scale(1.05) translateY(-0.02rem);
        // padding-left: var(--navlink-padding-amount);
        // padding-right: var(--navlink-padding-amount);
    }
}

// programmatically controllable one

@keyframes hoverwink {
    0% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1.06) translateY(-0.02rem);
    }
}

.hoverwink-animate {
    animation: hoverwink var(--hoverwink-transition-speed) var(--hoverwink-transition-timing-function) forwards;
}

.hoverwink-reset {
    animation: hoverwink var(--hoverwink-transition-speed) var(--hoverwink-transition-timing-function) reverse forwards;
}