@use '../2-globals/variables' as *;

// for specific reoccuring custom elements

.oddhorse-inline {
    display: inline-block;
    font-size: 1.4rem;
    transform: scaleX(70%) scaleY(140%) translateY(-4%);
    margin: 0 -0.8rem;
    text-decoration: inherit;
    text-decoration-style: wavy;
    color: var(--oddhorse-color);
    font-style: italic;
}

.yt-video {
    border-radius: 4px;
    overflow: hidden;

    margin: 1.5rem;
}

.img-fluid {
    width: 35rem;
}

// LOGOS

.logo-container {

    --logo-color: var(--page-color);
    --logo-shadow-color: #00000000;

    user-select: none;
    -webkit-user-select: none;

    .logo-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;


        /* --logo-size: 1rem; */

        color: var(--logo-color);
        transition: color 0.1s ease-in-out;


        .text-logo {
            margin: 0;
            font-weight: normal;
            letter-spacing: -0.08em;
            font-size: var(--logo-size);
            line-height: 1;

            transition: text-shadow var(--link-hover-transition-speed);
            transition-timing-function: calc(var(--link-hover-transition-timing-function) * 2);
            text-shadow:
                calc(var(--logo-size) / 2) 0px calc(var(--logo-size) * 0.5) var(--logo-shadow-color);
        }

        .oddhorse-logo {
            width: var(--logo-size);
            height: auto;
            border-radius: 2px;
        }

        &:hover {
            color: var(--link-hover-color);
        }
    }

    #tagline {
        position: absolute;
        margin: 0;
        line-height: 1;
        color: var(--lighter-text-color);
        font-size: var(--tagline-size);
        // transform: translateY(-12px);
        translate: 0 calc(var(--tagline-size) / 2 * -1);
        padding-left: var(--tagline-size);
        cursor: pointer;
    }
}

// EMAIL SIGN UP

#mc_embed_shell {

    max-width: fit-content;
    margin: auto;
    text-align: left;


    .mc_embed_text {
        color: var(--text-color);
        margin-left: 1em;
        font-size: 1rem;
    }

    input.email {
        rotate: 3deg;
        border: 1.5px solid var(--lighter-text-color);
        border-radius: 2px;
    }

    label,
    input.email,
    input.button {
        font-size: 1rem;
    }

    .formkit-alert-success {
        color: #88e200;
    }

    input.button {
        margin-left: 2em;
    }
}

