@use "sass:math";

@use '../4-layout/media-queries.scss' as *;

p.stanza {
    font-style: italic;
    font-size: 1.2rem;
    max-width: 60%;
    position: relative;

    text-shadow:
        0 0 150px #fff;


    @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
            margin-top: math.random() * 2rem;
            margin-bottom: math.random() * 2rem;
            margin-left: (($i - 1) * 8%) + (math.random() * 2 - 1) * 3%;

        }
    }
}

.tallword {
    display: inline-block;
    font-size: 1.4rem;
    transform: scaleX(70%) scaleY(140%) translateY(-4%);
    margin: 0 -0.8rem;
    text-decoration: inherit;
    text-decoration-style: wavy;
    color: var(--oddhorse-color);
}

.glow {
    // color: #fffaa4;
    --glow-color: #fff98a;
    // --glow-size: 
    /* Adjust color as needed */
    text-shadow: 0 0 15px var(--glow-color),
        0 0 30px var(--glow-color),
        0 0 45px var(--glow-color),
        0 0 60px var(--glow-color);
    cursor: help;
}

.about-img {
    max-width: 35rem;
    height: auto;
    margin: -0.7rem -0.7rem;
    margin-right: -10%;
    float: right;
    position: relative;
}

#god-image,
#pbuh-popup {
    height: auto;
    display: none;
    /* Initially hidden */
    position: absolute;
    z-index: 1000;

    pointer-events: none;

    --glow-color: #fff98a;
}

#god-image {
    width: 400px;
    box-shadow: 0 0 15px var(--glow-color),
        0 0 30px var(--glow-color),
        0 0 45px var(--glow-color),
        0 0 60px var(--glow-color);
}

#pbuh-popup {
    background-color: var(--background-color);
    font-size: 9vw;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

@keyframes fadeOutSustain {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


main {

    overflow-x: clip;
}

@media #{$mq-small} {
    p.stanza {
        max-width: 100%;
        font-size: 1rem;

        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
                margin-top: math.random() * 2rem;
                margin-bottom: math.random() * 2rem;
                margin-left: math.random() * 2rem;

            }
        }
    }

    .tallword {
        font-size: 1.2rem;
        margin: 0 -0.6rem;
    }

    .about-img {
        max-width: 60%;
        margin: -0.3rem;
        margin-right: -10%;
    }
}