@use '../2-globals/variables' as *;
@use '../4-layout/media-queries.scss' as *;

.homepage-container {
	text-align: center;
	padding: 2rem 1rem;

	.logo-container {
		margin-bottom: 2rem;

		.logo {
			width: 8rem;
			height: auto;
		}
	}

	.navbar {
		margin-bottom: 3rem;
	}

	.artifact-list {
		text-align: left;
	}
}

@media #{$mq-small} {
	.homepage-container {
		padding: 1rem 0.5rem;

		.logo-container .logo {
			width: 6rem;
		}
	}
}
