@use '../2-globals/variables' as *;
@use '../4-layout/media-queries.scss' as *;

.homepage-container {
	text-align: center;
	padding: 2rem 1rem;

	.logo-container {
		margin-bottom: 2rem;

		--logo-size: clamp(6rem, 15vw, 10rem);
		--tagline-size: clamp(0.5em, 10vw, 1.5rem);

		.logo {
			width: 8rem;
			height: auto;
		}
	}

	.navbar {
		margin-bottom: 3rem;
	}

	.artifact-list {
		text-align: left;
	}
}

@media #{$mq-small} {
	.homepage-container {
		padding: 1rem 0.5rem;

		.logo-container {
			--logo-size: clamp(5rem, 20vw, 9rem);

			.logo {
				width: 6rem;
			}
		}
	}
}
