@use '../4-layout/media-queries.scss' as *;

.project-text {
    color: var(--link-color);
    // text-decoration-color: var(--link-color);

    text-decoration: none;
    margin: 0.5rem 0;
    display: inline-block;
    font-size: 1.2rem;
    transition: var(--link-hover-transition-speed);

    // Enable word wrapping for long words
    overflow-wrap: break-word;
    word-wrap: break-word; // Legacy support
    word-break: break-word; // Optional for older browsers
    hyphens: auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-pic {
    width: 100%;
    height: auto;
    border-radius: 2px;
    transition: var(--link-hover-transition-speed);
}

.project-link:hover {

    .project-pic,
    .project-text {
        scale: 1.05;
    }
}

@media #{$mq-small} {
    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}