---
title: Ghost (oddhorse rework)
img: /assets/images/releases/Decc-Ghost.jpg
color: "#4d4d4d"
date: 11/16/2024
tags: remix
producers: oddhorse
release_link: https://too.fm/decchorse-ghost
apple_link: https://music.apple.com/us/album/ghost-oddhorse-rework/1778995497?i=1778995499
spotify_link: https://open.spotify.com/track/7c2oLpxuYYYy9BHafOzpYJ
---

{% include "crumb.njk" %}
{% include "release-card.njk" %}