---
title: girls
img: /assets/images/releases/girls.jpg
color: "#6369bb"
date: 6/18/2025
tags: cover
producers: oddhorse
release_link: https://too.fm/oddhorse-girls
apple_link: https://music.apple.com/us/album/girls/1820888808?i=1820888812
spotify_link: https://open.spotify.com/track/1HPE68ZxTcLjmE5EnO2G36
nina_link: https://www.ninaprotocol.com/releases/oddhorse-girls?ref=him
---

{% include "crumb.njk" %}
{% include "release-card.njk" %}