---
title: song for eating quiche
img: /assets/images/releases/song-for-eating-quiche.png
color: "#4d4d4d"
date: 7/27/2023
tags: single
producers: oddhorse
release_link: https://too.fm/oddhorse-quiche
apple_link: https://music.apple.com/us/album/song-for-eating-quiche/1763092735?i=1763092741
spotify_link: https://open.spotify.com/track/2zvFBIakzgfPHlioi3FVcm
---

{% include "release-card.njk" %}