---
title: UPS
img: /assets/images/releases/UPS.png
color: "#e2be2d"
date: 4/16/2024
tags: single
producers:
    - zaydee
    - oddhorse
---

{% from "lyrics.njk" import renderLyrics %}

{% include "release-card.njk" %}
{% call renderLyrics([1, 2, 3]) %}
I just caught a felony
Caught a felony
I just fucked a bad bitch
Her name Bethany
I just opened up a shop
We’re selling head for free
Moving pack through UPS
That methamphetamine

Sold a laced pack like it’s nothing on the Lord’s day
I’m in quite a pickle like I’m stuck in Rick and Morty
I’m fucking on your shorty
I been selling women on whore bay
I’m not the straightest but my friends a little more gay

I’m certified everywhere my fake scans
I’m edgy and conceited, Patrick Bateman
Fuck him in the Batman
Fuck with Robert Pattinson
In the Rick store with my mom
We be posted like some mannequins

Ay, ay
I’m Opium like Anakin
Ay
I got mid weed in a Fanta can
Ay
I got shooters out in Pakistan

I just caught a felony
Caught a felony
I just fucked a bad bitch
Her name Bethany
I just opened up a shop
We’re selling head for free
Moving pack through UPS
That methamphetamine

I been moving money like it’s nothing
I didn’t call to talk, now put your pussy on the FaceTime
I don’t give a fuck what I been stunting
I’m rocking the Balenci with the Shein at the same time

When I make a couple milli I’m’a build a pyramid
When I spin your block I’ll prolly miss, I gotta spin again  
An angel came and told me ‘bout a most almighty covenant
So I built an ark, filled it with pairs of Rick and Vetements

Ay, ay
The Lord knows that I’m heaven-sent
Ay
I said, shoutout all my Mexicans
Ay
My Tinder saying that I’m 7'10"
Flicked up with some Benjamins
Ay

I just caught a felony
Caught a felony
I just fucked a bad bitch
Her name Bethany
I just opened up a shop
We’re selling head for free
Moving pack through UPS
That methamphetamine
{% endcall %}