---
title: WE'LL BE DIVINE
img: /assets/images/releases/WE'LL-BE-DIVINE.png
color: "#475848"
date: 9/24/2023
tags: single
producers: oddhorse
release_link: https://too.fm/oddhorse-divine
apple_link: https://music.apple.com/us/album/well-be-divine/1761476274?i=1761476276
spotify_link: https://open.spotify.com/track/7CS9ldOdfqIalwPQ9xa3a5
---

{% include "release-card.njk" %}