@font-face {
    font-family: "Karrik";
    src: url("/public/assets/fonts/Karrik/Karrik-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Karrik";
    src: url("/public/assets/fonts/Karrik/Karrik-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: block;
}


body {
    font-family: Karrik, sans-serif;
}