:root {
    --text-color: #000000;
    --oddhorse-color: #ff00bb;
    --background-color: #ffffff;
    --lighter-text-color: #7e7e7e;

    --text-logo-color: var(--text-color);

    // default
    --page-color: #000000;
    --link-color: #000000;
    --link-hover-color: #ff00bb;
    --button-background-color: #ff00bb;
    --accent-background-color: #ff00bb;
    --hover-background-color: #ff00bb;

    --link-hover-transition-speed: 0.2s;
    --link-hover-transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.5);

    --hoverwink-transition-speed: 0.2s;
    --hoverwink-transition-timing-function:
        /* ease-in-out */
        cubic-bezier(0.18, 0.89, 0.32, 1.5);

    --translation-animation-amount: 1rem;
}