<!DOCTYPE html>
<html lang="{{ meta.lang }}">
    <head>
        {% include "head.njk" %} <style>:root
        {
            --page-color: {{clor}}
            ;
        }
    </style>
</head>
<body>
    {% include "header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
</body></html>