@use "sass:color";

@use 'user-vars' as *;

footer {
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    display: flex;

    p {
        margin: 0.25rem;

        color: $footerTextColor;
        letter-spacing: -0.03rem;

    }

    a {
        color: inherit;
        text-decoration-color: color.adjust($footerTextColor, $lightness: 20%);
    }
}