header {
    display: flex;
    /* Use flexbox for horizontal alignment */
    justify-content: space-between;
    /* Space out children to opposite ends */
    align-items: center;
    gap: 2rem;

    /* Vertically align items */
    padding: 2rem 3rem;
    /* Add some padding for breathing room */
    /* Optional: Give the header a background color */

    a {
        text-decoration: none;
    }

    .text-logo {
        font-size: 5rem;
    }

    nav {
        display: flex;
        /* Make nav links appear in a horizontal row */
        justify-content: flex-end;
        gap: 1.3rem;
        /* Add spacing between links */
        flex-wrap: wrap;
        max-width: 100%;
        line-height: 0.5;
        /* Ensure the navbar doesn't overflow */


        a {
            color: var(--textColor);
            transition: color 0.1s;
            /* Set link color */
            font-weight: bold;
            /* Optional: Make links bold */
            font-size: 2rem;

            flex-grow: 0;
            /* Prevent links from growing */
            flex-shrink: 0;
            /* Prevent links from shrinking */
        }
    }
}