---
title: home
mainColor: #f0f0f0
---

<!DOCTYPE html>
<html lang="{{ meta.lang }}">
    <head>
        {% include "head.njk" %} <link rel="stylesheet" href="/assets/css/index.scss">
    </head>
    <body>
        <main>
            {% include "navbar.njk" %}
            <h1 class="text-logo">ODDHORSE</h1>
            <script src="/assets/js/home.js" defer="defer"></script>
        </main>
        {% include "footer.njk" %}
    </body>
</html>