---
title: about
layout: base.njk
color: "#ffbb00"
tags: main
---

<link
rel="stylesheet" href="/assets/css/about.scss">
{# <h1>who is oddhorse?</h1> #}
<p class="stanza">
    <span class="tallword">oddhorse</span>(ﷺ)
                                                                            is like
    <span class="glow">God</span>
    in a way. He’s always up to some crazy shit all the time and you really haven’t seen anything like
                it.
</p>
<img src="/assets/images/Odd-31.jpeg" alt="oddhorse" style="transform: translateX(50%);">
<p class="stanza">
    I heard from somewhere that
    <span class="tallword">oddhorse</span>(ﷺ) made the world in just four days, and even God took like.. seven, right? That
        could just be a rumor too, but whatever.
</p>
<p class="stanza">
    Anyway I asked him about God one time and he told me he believes in simulation theory, then he pulled up this big
    simulation of the universe he was running on his computer.
</p>
<p class="stanza">
    He was like “haha check this out” and just started killing people in it. Like I don’t think God does it that directly,
    right?
</p>
<p class="stanza">
    I’m telling you man
    <span class="tallword">oddhorse</span>(ﷺ) is not normal! The shit he makes is not normal either… I think that part’s on
                        purpose though.
</p>
<p class="stanza">
    It’s so good. It’s fucking crazy I swear. Most people know him for his
    <a href="/music/">music</a>, but like… damn.
    <span class="tallword">oddhorse</span>(ﷺ)
                                                            really can do
    <a href="/projects/">anything</a>!
</p>
<p class="stanza">
    <span class="tallword">oddhorse</span>(ﷺ)
                                                            says he's Him, but he really IS Him!
</p>