---
title: about
layout: base
color: "#ffbb00"
tags: main
---

<link
rel="stylesheet" href="/assets/css/pages/about.scss">
{# <h1>who is oddhorse?</h1> #}
<p class="stanza">
    <span class="tallword">oddhorse</span>(ﷺ) is like
    <span class="glow god-hover">God</span>
    in a way. He’s always up to some crazy shit all the time and you really haven’t seen anything like
                it.
</p>
<img src="/assets/images/Odd-31.jpg" alt="oddhorse" style="transform: translateX(50%);" class="about-img">
<p class="stanza">
    I heard from somewhere that
    <span class="tallword">oddhorse</span>(ﷺ) made the world in just four days, and even
    <span class="glow god-hover">God</span>
    took like.. seven, right? That could just be a rumor too, but whatever.
</p>
<p class="stanza">
    Anyway I asked him about
    <span class="glow god-hover">God</span>
    one time and he told me he believes in simulation theory, then he pulled up this big simulation of the universe he was
    running on his computer.
</p>
<p class="stanza">
    He was like “haha check this out” and just started killing people in it. Like I don’t think
    <span class="glow god-hover">God</span>
    does it that directly, right?
</p>
<p class="stanza">
    I’m telling you man
    <span class="tallword">oddhorse</span>(ﷺ) is not normal! The shit he makes is not normal either… I think that part’s on purpose though.
</p>
<p class="stanza">
    It’s so good. It’s fucking crazy I swear. Most people know him for his
    <a href="/music/">music</a>, but like… damn.
    <span class="tallword">oddhorse</span>(ﷺ) really can do
    <a href="/projects/">anything</a>!
</p>
<p class="stanza">
    <span class="tallword">oddhorse</span>(ﷺ)says he's Him, but he really IS Him!
</p>
<img id="god-image" src="/assets/images/god.jpg" alt="god (family guy)" style="display: none; position: absolute;">
<script src="/assets/js/pages/about.js" type="module"></script>