---
title: blog
layout: base
color: "#ff00bb"
# tags: main
---

<h1>horse blog 🐴🐴🐴🐴🐴🐴🐴</h1>
<p>oddhorse loves any chance he can get to ramble</p>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}