---
title: contact
color: "#d76aff"
tags: main
---

<link
rel="stylesheet" href="/assets/css/pages/contact.scss">

<p>let's talk!</p>
<p>fans and friendly people <span class="emoticon">:3</span>, come say <a href="mailto:hi@odd.horse">hi<span class="darker">@odd.horse</span></a>!
</p>
<p>for bookings, business, or otherwise serious matters <span class="emoticon">:(</span>, <span class="oddhorse-inline">oddhorse</span> is
    <a href="mailto:hi@odd.horse">him@odd.horse</a>!
</p>
<p>if you like instagram, i'm also <a href="{{ links.instagram.url }}" target="_blank">there too</a>!</p>