---
title: music
color: "#31ddff"
tags: main
---

<link rel="stylesheet" href="/assets/css/pages/music.scss">
<h1>music</h1>
<div class="music-grid">
    {% for item in collections.releases | reverse %}
        <div class="music-item">
            <a href="{{ item.url }}" class="release-link" style="--link-color: {{ item.data.color }};">
                <img src="{{ item.data.img }}" alt="{{ item.data.title }} album cover" sizes="(max-width: 47.9375em) 75vw, 50vw" class="release-pic"><br/>
                <span class="release-text">{{ item.data.title }}</span>
            </a>
        </div>
    {% endfor %}
</div>