---
title: projects
color: "#00ff00"
tags: main
---

<h1>projects</h1>
<p>...that aren't <a href="/music/">music</a>, of course...</p>
{% set postslist = collections.projects %}
{% include "postslist.njk" %}