---
title: treats
color: "#d76aff"
layout: base
#tags: main
---

{# Treats-specific CSS #}
<link rel="stylesheet" href="/assets/css/pages/treats.css">

<main>
	<a href="/" class="logo-link logo-container">
		{% include "icons/OH-thick.svg" %}
	</a>
	{% include "mailchimp.njk" %}
	<p class="more">
		<a href="/" >
        ...click for more oddhorse !
    </a>
	</p>
</main>