---
title: treats
color: "#d76aff"
layout: base
#tags: main
---

{# Treats-specific CSS #}
<link rel="stylesheet" href="/assets/css/pages/treats.css">

<main>
	{# Just the horse mark, no wordmark or tagline #}
	{% set logoMark = true %}
	{% include "logo.njk" %}
	{% include "mailchimp.njk" %}
	<p class="more">
		<a href="/" >
        ...click for more oddhorse !
    </a>
	</p>
</main>