<!DOCTYPE html>
<html lang="{{ meta.lang }}"></html>
<html>
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        {% include "header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>