---
title: horse calendar 2024
tags: ["visual art", "merch"]
img: /assets/images/projects/calendar/cal-front.jpg
date: 1/31/2024
pretty_date: january 2024 (too damn late)
---

{% include "project-card.njk" %}
<p>digital prints on cardstock, wire bound, 30 x 30cm.
normal horse calendars, until you look hard enough at them. they’re a little uhrm. odd haha haha</p>
<p>produced for 2024 oddhorse merch run.</p>
<img src="/assets/images/projects/calendar/cal-front.jpg" alt="front of oddhorse 2024 calendar" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid release-img">