---
title: qr codes
tags: ["visual art", "merch"]
img: /assets/images/projects/qr/qr-main.png
date: 11/22/2022
pretty_date: late 2022
---

{% include "project-card.njk" %}
<p>the oddhorse signature. speaks for itself so loud i don't even have shit to say here.</p>
<p>code always points to a spotify link for an oddhorse song of my choice!</p>
<p>my shop is not currently operating, but these are normally sold there. :3</p>

<img src="/assets/images/projects/qr/qr-wild1.jpg" alt="oddhorse qr sticker on a traffic light box in new york city" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">

<img src="/assets/images/projects/qr/qr-wild2.jpg" alt="oddhorse qr sticker on a scaffolding pole in new york city" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">

<h2>process</h2>
<p>there is a method of embedding binary pixel art in qr codes out there. i did not invent it. for gatekeeping purposes, i will not share where to find this method. it's really very easy to find.</p>
<p>i was originally inspired by <a href="https://en.wikipedia.org/wiki/Blank_Banshee" target="_blank">blank banshee</a>'s qr code stickers: </p>
<figure>
    <img src="/assets/images/projects/qr/blank-banshee.jpg" alt="a macbook case decorated with a qr code sticker from artist blank banshee" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">
    <figcaption>my dear macbook in 2021</figcaption>
</figure>
<p>i for one choose to believe i'm not completely ripping them off. see below:</p>
<h2>MINE ARE IN COLOR</h2>

<figure>
    <img src="/assets/images/projects/qr/four-qr-codes.png" alt="four colored oddhorse qr codes" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">
    <figcaption>four oddhorse qr codes</figcaption>
</figure>

<p>i did a bunch of research and testing on coloring qr codes when making these. let me be honest: this is not something that is done. people not doing it like oddhorse. have you ever seen a qr code colored in like this? NO! ahem. in short, qr codes aren't supposed to be more than two colors like this, so i didn't expect them to work at all.</p>
<p>luckily for me, it seems every modern qr code reader takes colored codes just fine, as long as there's still super clear contrast between the binary data—the DARK and the LIGHT!</p>
<h2>they also have a lot more solid areas than qr codes should</h2>
<p>this is a pretty technical thing about qr codes and i don't really wanna deep dive here so i'll be brief. bear with me.</p>

<p>qr codes aren't supposed to have a lot of big unbroken areas of the same color, because a complex dense pattern is easier to discern from camera data. as you can see, my codes have an awful lot of these solid color blocks, both in the accent colors and the white backgrounds.</p>

<p>HOWEVER! modern phone cameras are pretty high resolution now and can handle all these solid areas i'm using just fine.</p>

<p>yes, both the colored accents and the large patches of solid data are technically not good for the legibility of the qr codes! but the technology is good enough to handle it these days. a blessing</p>

<h2>flyers</h2>

<img src="/assets/images/projects/qr/poster2.png" alt="oddhorse qr code poster mockup" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">
<img src="/assets/images/projects/qr/poster3.png" alt="oddhorse qr code poster mockup" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">
<img src="/assets/images/projects/qr/poster1.png" alt="oddhorse qr code poster mockup" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">
<img src="/assets/images/projects/qr/poster4.png" alt="oddhorse qr code poster mockup" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">
<img src="/assets/images/projects/qr/poster5.png" alt="oddhorse qr code poster mockup" sizes="40vw(max-width: 47.9375em) 60%, 35rem" class="img-fluid">

<h2>cool (maybe) tech note</h2>
<p>for flexibility, the codes point to the pages /1, /2, /3, and /4 on my website (https://odd.horse/1, etc.) where i just set a redirect to spotify for the visitor. (it means i can also use my google analytics on the page!) since the horse code (/1) is the only one i printed stickers for, the rest of them are not currently functional. sorry !</p>